---
network:
  version: 2
  renderer: NetworkManager
  ethernets:
    br-mgmt:
      addresses: [{{ ip_brmgmt }}/24]
      dhcp4: no
    br-vxlan:
      addresses: [{{ ip_brvxlan }}/24]
      dhcp4: no
    br-storage:
      addresses: [{{ ip_brstorage }}/24]
      dhcp4: no
    br-vlan:
      dhcp4: no
    ens6:
      dhcp4: no
      dhcp6: no
    ens7:
      dhcp4: no
      dhcp6: no
    ens8:
      dhcp4: no
      dhcp6: no
    ens9:
      dhcp4: no
      dhcp6: no
