# ifupdown has been replaced by netplan(5) on this system.  See
# /etc/netplan for current configuration.
# To re-enable ifupdown on this system, you can run:
#    sudo apt install ifupdown
auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp

# bond0
auto bond0
iface bond0 inet manual
    bond-mode active-backup
    bond-miimon 100
    bond-slaves none

auto eth1
iface eth1 inet manual
    bond-master bond0
    bond-primary eth1

auto eth2
iface eth2 inet manual
    bond-master bond0

auto bond0.236
iface bond0.236 inet manual

auto bond0.244
iface bond0.244 inet manual

# bond1
auto bond1
iface bond1 inet manual
    bond-mode active-backup
    bond-miimon 100
    bond-slaves none

auto eth3
iface eth3 inet manual
    bond-master bond1
    bond-primary eth3

auto eth4
iface eth4 inet manual
    bond-master bond1

auto bond1.240
iface bond1.240 inet manual

# OpenStack bridges
auto br-mgmt
auto br-vxlan
auto br-storage
auto br-vlan

iface br-mgmt inet static
  bridge_ports bond0.236
  bridge_stp off
  address {{ ip_brmgmt }}
  netmask 255.255.255.0

iface br-vxlan inet static
  bridge_ports bond1.240
  bridge_stp off
  address {{ ip_brvxlan }}
  netmask 255.255.255.0

iface br-storage inet static
  bridge_ports bond0.244
  bridge_stp off
  address {{ ip_brstorage }}
  netmask 255.255.255.0

iface br-vlan inet manual
  bridge_ports bond1
  bridge_stp off
  bridge_maxwait 0
